.text-text-primary {
    font-size: 4.5rem;

    @media screen and (max-width: 600px) {
        font-size: 3rem;
    }
}

.text-neon-green {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.container {
    padding-top: 5rem;
    padding-bottom: 2rem;
}